* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #3C329A;
}

.title {
    font-size: 18vw;
    color: #1E194D;
    text-align: center;
    margin-bottom: 20px;
}

.box {
    background-color: #6758F6;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 4rem;
    width: fit-content;
    padding: 3rem 4rem;
    border-radius: 10px;
    margin: 0 auto;
}

.time {
    font-size: 22px;
}

#hour,
#minute,
#second {
    font-size: 40px;
    font-weight: 600;
}

@media screen and (max-width: 800px){
    .title{
        margin-top: 100px;
    }
}
@media screen and (max-width: 520px){
    .box{
        flex-direction: column;
    }
}